<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Glow Up - Home</title>
</head>
<body>
    <h1 class="title"><%= message %></h1>
    <div class="container">
        <div class="btns">
            <a class="btn" href="/login">Login</a>
        </div>
    </div>
    <script type="module" src="/js/index.js"></script>
</body>
</html>