<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Glow Up - Login</title>
</head>
<body>
    <h1 class="title"><%= message %></h1>
    <div class="container">
        <form id="loginForm">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" required placeholder="jhon@email.com">
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required min="7"/>
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
    <script type="module" src="/js/index.js"></script>
</body>
</html>